$dsignfly-font-family: Open sans;
$dsignfly-font-weight-bold: 700;
$dsignfly-font-weight-regular: 400;
$dsignfly-font-weight-semi-bold: 500;
$dsignfly-font-weight-light: 400;

$primary-color: #ef4634;

$lg-breakpoint : 1024px;
$md-breakpoint: 768px;
$sm-breakpoint: 425px;