@import 'variables';
@import 'mixin';

.widget-title {
    font: {
        weight: $dsignfly-font-weight-regular;
        size: 25px;
    }

    box-shadow: 0 2px 2px #fff;
    color: #62585f;
    padding-bottom: 8px;
    border-bottom: 1px solid #62585f;
}

.dsignfly-portfolio-widget-gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;

    a {
        display: block;
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    img {
        display: block;
        max-width: 100%;
        border-radius: 5px;
    }
}

@include media($lg-breakpoint) {
    .dsignfly-portfolio-widget-gallery {
        a {
            width: 70px;
            height: 70px;
            margin-bottom: 20px;
        }
    }
}

@include media($md-breakpoint) {
    .dsignfly-portfolio-widget-gallery {
        grid-template-columns: repeat(3, 1fr);

        a {
            width: 70px;
            height: 70px;
            margin-bottom: 20px;

            &:nth-child(7),
            &:nth-child(8) {
                display: none;
            }
        }
    }
}